@import 'src/styles/colors';

.bb-card {
  width: 100%;
  border-radius: 10px;

  &__header {
    width: 100%;
    background-color: $blue;
    border-radius: 10px 10px 0 0;
  }

  &__title, &__icon {
    color: $white;
  }

  &__content {
    border-radius: 0 0 10px 10px;
  }

  &, &__content {
    background-color: $white;
  }
}
