@import "src/styles/colors";
@import "src/styles/mixins";

.modal-template {
  &__navigation {
    width: 100%;
    border-bottom: 1px solid rgba($grey, 0.4);
  }

  &__footer {
    width: 100%;
    border-top: 1px solid rgba($grey, 0.4);
  }

  &__close {
    @include button-reset();

    color: $grey;
  }

  &__container {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
}
