@import "~bootstrap/scss/_functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

@import 'src/styles/typography';
@import 'src/styles/colors';

$theme-colors: (
  "primary": $orange,
);


@import '~bootstrap/scss/bootstrap';

body {
  font-family: $font-family-default;
}

::-webkit-input-placeholder {
  font-style: italic;
}



